<section class="card text-center">
  <div>
    <h3 class="card-title bg-light">Role Level</h3>

    <div class="dropdown">
      <h4 class="card-text">Role</h4>
      <div>
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ currentUser["roleDescEn"] }}
        </button>
        <ul class="dropdown-menu">
          <li>
            <a (click)="addLevel(currentUser)" href="#" class="dropdown-item">
              {{ currentUser["roleDescEn"] }}
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div [hidden]="!pressed">
      <div *ngFor="let role of roles" class="dropdown">
        <div *ngIf="role.length >= 1">
          <h4>Sub Role</h4>
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ role[0]["roleDescEn"] }}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li *ngFor="let child of role">
              <a (click)="addLevel(child)" href="#" class="dropdown-item">
                {{ child["roleDescEn"] }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
